/* PC */
@media (min-width: 1024px) {
    #header .search-btn {
    display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #header .search-btn {
        display: block;
        }
}

/* Mobile */
@media (max-width: 740px) {
    #header {
        overflow: hidden;
    }
    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }
    
    #nav .subnav {
        position: in;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header .search-btn {
        display: none;
    }
}