/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  vị trí 
    kích thước 
    màu sắc 
    kiểu dáng */
#main{
    
}

#header{

}

#slider{

}

#content{

}

#footer{

}


