/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  vị trí 
    kích thước 
    màu sắc 
    kiểu dáng */
#main{

}

#header{
    height: 46.4px;
    background-color: black;
}

#nav {

}

#nav li {
    display: inline-block;
}
#nav li a {
    color: white;
    text de
}

#nav .subnav {
    display: none;
}

#slider{

}

#content{

}

#footer{

}


